<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>filter</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!--所有URL都会拦截  -->
  <filter>
    <filter-name>FisterFilter</filter-name>
    <filter-class>cn.titanium.filter.filter.FirstFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FisterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!--中文乱码  -->
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.titanium.filter.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!--登陆验证是否登陆  -->
  <filter>
  		<filter-name>AuthFilter</filter-name>
  		<filter-class>cn.titanium.filter.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
  		<filter-name>AuthFilter</filter-name>
  		<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>